<%= form_for(@landing) do |f| %>
  <% if @landing.errors.any? %>
    <div id="error_explanation">
      <% @landing.errors.full_messages.each do |message| %>
        <error><%= message %></error>
      <% end %>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :email, label: false, placeholder: "Email"%>
  </div>
  <div class="actions">
    <%= f.submit "Notify Me", class: "btn-custom" %>
  </div>
<% end %>
