<div class="center">
<img src="assets/logo.png" id="logo">
	<h4 class="header">We're building something awesome, sign-up to find out when it's available.</h4>
	<div class="main">
		<%= render 'form' %>
		<div class="social center">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</div>		