<div class="center">
<img src="/assets/logo.png" id="logo">
	<h4 class="header">Thank you for your interest, we'll be sending you updates periodically on our progress.</h4>
	<div class="main">
		<%= link_to 'Back', root_path, class: "btn-custom" %>
		<br>
		<div class="social center">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</div>		

